 {% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
	.btn-success{
		background-color: red;
		
	}
</style>

 <div class="container">
 	<h1>Login</h1>
 	<form action="" method="POST">
 	{% csrf_token %}
 	{% bootstrap_form form %}	
 	<input type="submit" value="Login", class="btn btn-success">
 	</form>
 </div>