 {% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
	.btn-success{
		background-color: red;
		
	}
</style>

 <div class="container">
 	<h1>Sign Up</h1>
 	<form action="" method="POST">{% csrf_token %}
 	{% bootstrap_form form %}	
 	<input type="submit" value="Sign Up", class="btn btn-primary">
 	</form>
 </div>